body {
    background-color: grey; /*colors are for testing and visual clarity*/
}

section {
    width: 70%;
    height: 80px;
    margin: auto;
border: 3px solid black;
}

div#game-board {
    width: 70%;
    /* height: auto; */
    border: 3px solid white;
	display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: auto;
}

p {
    font-size: 20px;
    margin: auto;
}

.square {
    width: 20%;
    height: 55px;
    border: 1px solid black;
    /* background-color: blue; */
    flex-wrap: wrap;
}
/* the buttons are a bit big */


div.row {
    width: 100%;
	height: auto;
    /* background-color: red; */
    display: flex;
	
}

#keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyBtns {
    
}

.keyBtns > button {
    margin: 1px
}